/* Barra */
.app-navbar {
  background-color: #2E8B57; /* Verde da imagem */
  padding: 6px 14px;
}


.navbar-brand {
  color: #ffffff !important;
  font-size: 1.05rem;
  font-weight: 500;
}

/* Botão hamburguer */
.menu-btn {
  border: 1px solid rgba(255, 255, 255, 0.45) !important;
  border-radius: 6px;
  padding: 3px 6px;
  background: transparent !important;
}

/* Ícone hamburguer branco */
.menu-btn .navbar-toggler-icon {
  filter: invert(1);
}

/* Hover discreto */
.menu-btn:hover {
  background: rgba(255, 255, 255, 0.12) !important;
}

/* Offcanvas escuro */
.app-offcanvas {
  background-color: #1f1f1f;
  color: white;
}

.app-offcanvas .nav-link,
.app-offcanvas .dropdown-item {
  color: white !important;
}

.app-offcanvas .dropdown-menu {
  background-color: #2a2a2a;
}

/* Fundo verde do menu lateral */
.offcanvas.offcanvas-end.app-offcanvas {
  background-color: #2E8B57 !important;
}

/* Texto dos links */
.offcanvas.offcanvas-end.app-offcanvas .nav-link,
.offcanvas.offcanvas-end.app-offcanvas .dropdown-item {
  color: #ffffff !important;
}

/* Cabeçalho do menu */
.offcanvas.offcanvas-end.app-offcanvas .offcanvas-header {
  background-color: #276b47 !important; /* verde mais escuro */
}

/* Menu dropdown */
.offcanvas.offcanvas-end.app-offcanvas .dropdown-menu {
  background-color: #2E8B57 !important;
}

